﻿@model xsdvalid.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new {id = "studentform"}))
{
    <fieldset>
        <legend>
            Test attendance
        </legend>
        <div class="editor-label">Name</div>
        <div class="editor-field">@Html.TextBoxFor(model => model.Firstname)</div>
        <div class="editor-label">Surname</div>
        <div class="editor-field">@Html.TextBoxFor(model => model.Firstname)</div>
        <div class="editor-label">AIS ID</div>
        <div class="editor-field">@Html.TextBoxFor(model => model.AisId)</div>

        <input type="submit" value="Insert student"/>
    </fieldset>
}

