﻿@model xsdvalid.Models.Student

@{
    ViewBag.Title = "Project 1";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">

            <h2>XML validation / transformation</h2>

            @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { id = "studentform" }))
            {
                <fieldset>
                    <legend>
                        Test attendance
                    </legend>
                    <div class="editor-label">Name</div>
                    <div class="editor-field">@Html.TextBoxFor(model => model.Firstname)</div>
                    <div class="editor-label">Surname</div>
                    <div class="editor-field">@Html.TextBoxFor(model => model.Lastname)</div>
                    <div class="editor-label">AIS ID</div>
                    <div class="editor-field">@Html.TextBoxFor(model => model.AisId)</div>
                    <div class="editor-label">Birthdate</div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Birthdate, new { @class = "datefield", @type = "date" })
                    </div>
                    <div class="editor-label">Attempts</div>
                    <div class="editor-field">@Html.TextBoxFor(model => model.Attempts)</div>
                    <div class="editor-label">Status</div>
                    <div class="editor-field">@Html.TextBoxFor(model => model.Status)</div>

                    <input class="btn btn-primary" name="Create" type="submit" value="Insert student" />
                    <input id="ValidateXsd" class="btn btn-primary" name="ValidateXsd" value="Validate XSD" type="button" />
                    <input class="btn btn-primary" value="Transform XML" onclick="location.href = '@Url.Action("TransformXml", "Home", new {target = "_blank"})';return false;" type="button" /><br>
                    <input id="GetXmlString" class="btn btn-success" value="Sign XML" type="button" />
                    <input id="ExtendT" class="btn btn-success" value="Extend T" type="button" />
                </fieldset>
            }

            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
            {
                //Granny porn
                <input type="file" name="file" />
                <input id="Check XMLs" class="btn btn-danger" value="Check XMLs" type="submit" />
            }
        </div>

        <div class="col-sm-6">
            <h2>Signed XML, XAdES_ZEP</h2>
            <textarea id="envelope"  style="min-width: 100% ; min-height: 500px ; margin-top: 100px" NAME="envelope"></textarea>
            @*<input id="signedxml" class="btn btn-success" value="Download file" type="button" onclick="download(document.getElementById('envelope').value,'signedXML','text/xml');"/>*@
            </div>
        </div>
</div>

    

<script type="text/javascript">
    $("#ValidateXsd").click(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ValidateXsd","Home")",
            success: function (result) {
                //data = JSON.parse(result);
                if (result.success == true) {
                    alert("XML is valid");
                } else {
                    alert("Validation failed!");
                }
            },
            error: function() {
                alert("Unexpected error!");
            }
        });
    });
</script>
<script type="text/javascript">
    function getURL(url) {
        return $.ajax({
            type: "GET",
            url: url,
            cache: false,
            async: false
        }).responseText;
    }
    function download(text, name, type) {
        var a = document.getElementById("a");
        var file = new Blob([text], { type: type });
        a.href = URL.createObjectURL(file);
        a.download = name;
    }
</script>

<script type="text/javascript">
    $("#GetXmlString").click(function () {

                    alert("XML Signing!");

                    var xml=getURL("@Url.Action("GetXmlString", "Home")");
                    var oXML = new ActiveXObject("DSig.XadesSigAtl");
                    var oXMLPlugin = new ActiveXObject("DSig.XmlPluginAtl");
                    var xsd = getURL("@Url.Action("GetXsdString", "Home")");
                    var xsdURI = "http://localhost/XMLContent/students.xsd";
                    var xsl = getURL("@Url.Action("GetXslString", "Home")");
                    var xslURI = "http://localhost/XMLContent/studentsTransf.xslt";
                    var obj = oXMLPlugin.CreateObject2('objectId', 'Test attendance', xml, xsd, '', xsdURI, xsl, xslURI, "HTML"); //todo
                    var addObj = oXML.AddObject(obj);

                    var res = oXML.Sign('signatureId', 'sha256', 'urn:oid:1.3.158.36061701.1.2.1');
                    if (res == 0) {
                        document.getElementById('envelope').value = oXML.SignedXMLWithEnvelope;
                        //download(document.getElementById('envelope').value, 'signedXML', 'text/xml');

                        $.post("@Url.Action("SaveSignedXml", "Home")", { document: oXML.SignedXMLWithEnvelopeBase64 });

                    }
                    else {
                        document.getElementById('envelope').innerText = oXML.ErrorMessage;
                    }
            }
    );

    $("#ExtendT").click(function () {

        //alert("Extending!");
        $.post("@Url.Action("ExtendT", "Home")");

    }
);
</script>
